@import url(./styles/main.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap'); /* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); /* font for text */

:root {
    --clr-text: gainsboro;
    --clr-accent: #FF7F50;

    --ff-primary: Oswald, sans-serif;
    --ff-secondary: 'Montserrat';

    --fs-title: 10rem;
    --fs-text: 2rem;
    --fs-link: 1.3rem;
    --fs-local: 1.7rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("img/backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {
    font-family: ;
    text-align: center;
    color: gainsboro;
    margin-top: 50px;
    text-shadow: 2px 2px 5px lightslategray;
}
.button {
    position: relative;
    alignment: center;
    box-shadow: 20px 20px 50px lightslategray;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    text-align: center;
    border: 10px azure;

}

.euro {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;

}

em {
    position: absolute;
    z-index: inherit;


}
