@import url(./styles/layout.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap'); /* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); /* font for text */

:root {
  --clr-text: gainsboro;
  --clr-accent: #ff7f50;

  --ff-primary: Oswald, sans-serif;
  --ff-secondary: 'Montserrat';

  --fs-title: 4rem;
  --fs-text: 1.3rem;
  --fs-link: 1.3rem;
  --fs-local: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url('img/backimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.33%;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 200px;
  position: relative;
  background-color: rgba(255, 121, 77, 0.4);
  border-radius: 10px;
  font-style: var(--ff-primary);
}

.left-title {
  font-size: 50px;
  color: var(--clr-text);
  padding: 15px;
}

.text-left {
  color: darkgreen;
  font-size: 70px;
  text-shadow: 1px 1px 5px gainsboro;
}

/*.right {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-width: 200px;*/
/*}*/

.extras {
  margin-top: 10px;
  text-shadow: 2px 2px 5px darkred;
}

.button-extra {
  font-size: 16px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: lightgreen;
  border: 2px solid lightgreen;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-title);
  text-align: center;
  color: gainsboro;
  text-shadow: 2px 2px 5px lightslategray;
  margin-top: 60px;
}

#increase {
  position: absolute;
  margin-left: -10%;
  margin-top: -8%;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  text-align: center;
  border: 10px azure;
}

#increase:hover {
  transform: scale(1.1);
}

#increase:active {
  transform: scale(1);
}

.euro {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

em {
  position: absolute;
  margin-left: -65%;
  margin-top: 25%;
  font-style: var(--ff-primary);
  z-index: inherit;
  color: var(--clr-accent);
  font-size: var(--fs-text);
  text-shadow: 2px 2px 2px darkred;
}

img {
  position: relative;
  width: 30px;
}

