@import url(./styles/main.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap'); /* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); /* font for text */

:root {
    --clr-text: gainsboro;
    --clr-accent: #FF7F50;

    --ff-primary: Oswald, sans-serif;
    --ff-secondary: Oswald;

    --fs-title: 4rem;
    --fs-text: 1.3rem;
    --fs-link: 1.3rem;
    --fs-local: 1.7rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("img/backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-title);
    text-align: center;
    color: gainsboro;
    margin-top: 50px;
    text-shadow: 2px 2px 5px lightslategray;
}
.container { /* new element for output field from the left */
    position: absolute;
    background-color: rgba(240, 240, 240, 0.4);
    width: 20%;
    height: 40%;
    margin-left: 5%;
    margin-top: 15%;
    font-style: var(--ff-primary);
    text-align: center;
}

header { /* new element for output field from the left */
    margin-top: 3%;
    color: darkslategray;
    font-size: var(--fs-text);
}

.field { /* new element for output field from the left */
margin-top: 50px;

}



.button {
    position: relative;
    margin-left: 40%;
    margin-top: 7%;
    box-shadow: 20px 20px 50px lightslategray;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    text-align: center;
    border: 10px azure;

}

.euro {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;

}

em {
    position: absolute;
    margin-left: -65%;
    margin-top: 25%;
    font-style: var(--ff-primary);
    z-index: inherit;
    color: var(--clr-accent);
    font-size: var(--fs-text);
    text-shadow: 2px 2px 2px darkred;
}

#labeltext {
    position: absolute;
    margin-left: -30%;

    }
